1.	Write a Python program to convert kilometers to miles?

1 kilometer is equal to 0.621371 miles.

In [16]:
def miles(x='kilometer'):
    return x*0.621371
miles(10)

#OR

x=float(input('enter the number that you want to convert into miles:'))
y=0.6213
miles=x*y
miles

enter the number that you want to convert into miles:100

62.129999999999995

2.	Write a Python program to convert Celsius to Fahrenheit?

In [24]:
x=10
fahrenheit=(1.8*x+32)
print(fahrenheit)

50.0

3.	Write a Python program to display calendar?

In [40]:
import calendar
yy=2021
x=calendar.calendar(yy)
print(x)

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [38]:

yy=2021
mm=11
print(calendar.month(yy,mm))

   November 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

4.	Write a Python program to solve quadratic equation?

In [41]:
import cmath
a,b,c=10,20,30

d=b**2-4*a*c

root1=(-b+cmath.sqrt(d))/2*a
root2=(-b-cmath.sqrt(d))/2*a

print('the root for this quadratic equation is {} and {}'.format(root1,root2))

the root for this quadratic equation is (-100+141.4213562373095j) and (-100-141.4213562373095j)

5.	Write a Python program to swap two variables without temp variable?

In [44]:
x = 0
y = 10

x, y = y, x
print("Now the values of x after swaping is {}".format(x))
print("Now the values of y after swaping is {}".format(y))

Now the values of x after swaping is 10
Now the values of y after swaping is 0